<% if (typeof session !== 'undefined' && session && session.success) { %>
  <p class="alert alert-success"><%= session.success %></p>
<% } %>
<% if (typeof session !== 'undefined' && session && session.error) { %>
  <p class="alert alert-danger"><%= session.error %></p>
<% } %>
<% if (typeof session !== 'undefined' && session && session.warning) { %>
  <p class="alert alert-warning"><%= session.warning %></p>
<% } %>

