<% layout('layouts/stmv', { title: 'Directories' }) %>
<div class="wizard-step-2 d-block">
  <h6>Please enter your administration details below.</h6>
  <div class="table-responsive">
    <table class="table">
      <thead><tr><th>Please make sure the extensions listed below are installed</th><th>status</th></tr></thead>
      <tbody>
      <% Object.keys(directories).forEach(function(dir) { %>
        <tr>
          <td><%= dir %></td>
          <td class="icon-success"><i class="fas fa-<%= directories[dir] ? 'check' : 'times' %>"></i></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <div class="next-btn d-flex">
    <a href="/install/requirements" class="btn btn-primary prev1"><i class="far fa-hand-point-left me-2"></i>status</a>
    <% if (configured) { %>
      <a href="/install/license" class="btn btn-primary prev1">Next <i class="far fa-hand-point-right ms-2"></i></a>
    <% } else { %>
      <a href="javascript:void(0)" class="btn btn-primary disabled">Next <i class="far fa-hand-point-right ms-2"></i></a>
    <% } %>
  </div>
</div>

